version: 2.1

orbs:
  architect: giantswarm/architect@6.1.0

workflows:
  test:
    jobs:
      - architect/go-test:
          name: go-test
          context: architect
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/
